@font-face {
  font-family: "London";
  src: url(../fonts/london.ttf);
}

body {
  margin: 0;
  width: 100%;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  font-size: 14px;
  font-weight: 330;
}
.mid {
  display: table;
}
.mid * {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

#btnToTop {
  display: none;
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 99;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 0;
  border-radius: 4px;
}

#btnToTop img {
  width: 40px;
}

.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}