<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
  <link rel="stylesheet" href="../static/css/my-index.css">
  <link rel="stylesheet" href="../static/css/content.css">
</head>
<body>
  <section class="items">
    <article class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Буклеты</h2>
            <p class="item-info-description">
              Многочисленные исследования по маркетингу показали, 
              что рекламный буклет – в лидерах по популярности, 
              а главное эффективности среди рекламных инструментов.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url(../static/images/brochure.jpg);">
                                      
        </div>
      </div>
    </article>
    <article class="item">
        <div class="item-content">
          <div class="item-image" style="background-image: url(../static/images/catalogue.jpg);">
            
          </div>
          <div class="item-info mid">
              <div>
                <h2 class="item-info-title">Каталоги</h2>
                <p class="item-info-description">
                    Каталог можно считать идеальным решением для компаний, 
                    ассортимент товаров и услуг которых постоянно пополняется. 
                </p>
              </div>
          </div>
        </div>
      </article>
      <article class="item">
          <div class="item-content">
            <div class="item-info mid">
                <div>
                  <h2 class="item-info-title">Фирменные папки</h2>
                  <p class="item-info-description">
                      Печать папок с корпоративной символикой, например, логотипом – 
                      это создание и постоянное поддерживание имиджа компании на рынке услуг.
                  </p>
                </div>
            </div>
            <div class="item-image" style="background-image: url(../static/images/folder.jpg);">
              
            </div>
          </div>
        </article>
  </section>
</body>
</html>