<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
  <title>Header</title>
  <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
  <header>
    <div id="social">
      <a href="">Facebook</a>
      <a href="">Instagram</a>
    </div>

    <!-- <a id="logo" href=""></a> -->

    <div id="about">
      <a href="">О компании</a>
      <a href="">Контакты</a>
    </div>
  </header>
  <div style="background: silver; height: 1000px; margin-top: 50px;">

  </div>
</body>
</html>