<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- НЕ ЗАБЫТЬ УДАЛИТЬ!!! -->
  <meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
  <title>K-art</title>
  <link rel="shortcut icon" href="{% static 'images/logo_big.jpg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/my-index.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/story.css' %}">
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
  <link rel="stylesheet" href="{% static 'css/menu-sm.css' %}">
  <link rel="stylesheet" href="{% static 'css/content.css'%}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>

<!-- HEADER - WITH FACEBOOK, INSTAGRAM, ABOUT COMPANY AND CONTACTS -->
<!-- ------------------------------------------------------------- -->
  <header>
    <div id="social">
      <a href="https://www.facebook.com/yulianna.kart/" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/kart.adv.production/" target="_blank">Instagram</a>
    </div>

    <div class="header-logo">
      <a href="{% url 'home' %}">K&ndash;art</a>
    </div>

    <div id="about">
      <a href="{% url 'post-list' %}">Новости</a>
      <a href="{% url 'feedback' %}">Контакты</a>
    </div>
  </header>

<!-- NAVIGATION WITH EXPANDABLE TABS AND ANIMATION ON HOVER -->
<!-- ------------------------------------------------------ -->
  <nav>
    <div class="menu-item">
      <div class="menu-item-title-div mid">
        <div>
          <p class="menu-item-title">Цифровая и офсетная полиграфия</p>
        </div>
      </div>
      <div class="menu-item-text expandable">
        <p onclick="scrollToItem('tab00', 'item00')">буклеты</p>
        <p onclick="scrollToItem('tab00', 'item01')">каталоги</p>
        <p onclick="scrollToItem('tab00', 'item02')">фирменные папки</p>
        <p onclick="scrollToItem('tab00', 'item03')">альбомы с дизайнерскими обложками</p>
        <p onclick="scrollToItem('tab00', 'item04')">визитки</p>
        <p onclick="scrollToItem('tab00', 'item05')">открытки</p>
        <p onclick="scrollToItem('tab00', 'item06')">пригласительные</p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-item-title-div mid">
        <div>
          <p class="menu-item-title">Широкоформатная и УФ печать</p>
        </div>
      </div>
      <div class="menu-item-text expandable">
        <p onclick="scrollToItem('tab01', 'item10')">самоклеющая пленка</p>
        <p onclick="scrollToItem('tab01', 'item11')">баннер, баннерная сетка</p>
        <p onclick="scrollToItem('tab01', 'item12')">бумага Blueback, Backlit</p>
        <p onclick="scrollToItem('tab01', 'item13')">холст</p>
        <p onclick="scrollToItem('tab01', 'item14')">плоскопечатная УФ печать на материалах:</p>
        <p onclick="scrollToItem('tab01', 'item15')">печать на дизайнерских обоях</p>
        <p onclick="scrollToItem('tab01', 'item16')">постпечатные услуги, порезка, фрезеровка</p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-item-title-div mid">
        <div>
          <p class="menu-item-title">Наружная реклама</p>
        </div>
      </div>
      <div class="menu-item-text expandable">
        <p onclick="scrollToItem('tab02', 'item20')">вывески, лайтбокс, фреймлайт</p>
        <p onclick="scrollToItem('tab02', 'item21')">объемные фасадные конструкции с подсветкой</p>
        <p onclick="scrollToItem('tab02', 'item22')">конструктивы с широкоформатной рекламой на фасадах</p>
        <p onclick="scrollToItem('tab02', 'item23')">оклейка витрин самоклеющей пленкой</p>
        <p onclick="scrollToItem('tab02', 'item24')">оклейка авто самоклеющей пленкой</p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-item-title-div mid">
        <div>
          <p class="menu-item-title">Интерьерное оформление помещений</p>
        </div>
      </div>
      <div class="menu-item-text expandable">
        <p onclick="scrollToItem('tab03', 'item30')">брендинг</p>
        <p onclick="scrollToItem('tab03', 'item31')">оформление входной группы</p>
        <p onclick="scrollToItem('tab03', 'item32')">оформление навигационной системы</p>
        <p onclick="scrollToItem('tab03', 'item33')">дизайнерские обои с различными фактурами</p>
        <p onclick="scrollToItem('tab03', 'item34')">стеклянный, акриловый фартук для кухни</p>
        <p onclick="scrollToItem('tab03', 'item35')">светильники с led подсветкой</p>
        <p onclick="scrollToItem('tab03', 'item36')">оформление стеклянных перегородок</p>
        <p onclick="scrollToItem('tab03', 'item37')">оформление корпоративных мероприятий</p>
      </div>
    </div>
  </nav>

<!-- NAVIGATION FOR SMALL DEVICES WITH EXPANDABLE TABS AND ANIMATION ON HOVER -->
<!-- ------------------------------------------------------------------------ -->
  <div class="menu-sm">
    <div class="menu-sm-header" onclick="toggleMenu()">
      <img class="menu-sm-arrow" src="{% static 'images/arrow_white.png' %}" alt="">
      <h4>Наши услуги</h4>
    </div>
    <div class="menu-sm-body expandable-sm">
      <div class="menu-sm-item mid">
        <div>
          <p class="menu-sm-item-title" onclick="expandChild(0)">Цифровая и офсетная полиграфия</p>
          <div class="menu-sm-item-text expandable-sm">
            <p onclick="scrollToItem('tab00', 'item00')">буклеты</p>
            <p onclick="scrollToItem('tab00', 'item01')">каталоги</p>
            <p onclick="scrollToItem('tab00', 'item02')">фирменные папки</p>
            <p onclick="scrollToItem('tab00', 'item03')">альбомы с дизайнерскими обложками</p>
            <p onclick="scrollToItem('tab00', 'item04')">визитки</p>
            <p onclick="scrollToItem('tab00', 'item05')">открытки</p>
            <p onclick="scrollToItem('tab00', 'item06')">пригласительные</p>
          </div>
        </div>
      </div>
      <div class="menu-sm-item mid">
        <div>
          <p class="menu-sm-item-title" onclick="expandChild(1)">Широкоформатная и УФ печать</p>
          <div class="menu-sm-item-text expandable-sm">
            <p onclick="scrollToItem('tab01', 'item10')">самоклеющая пленка</p>
            <p onclick="scrollToItem('tab01', 'item11')">баннер, баннерная сетка</p>
            <p onclick="scrollToItem('tab01', 'item12')">бумага Blueback, Backlit</p>
            <p onclick="scrollToItem('tab01', 'item13')">холст</p>
            <p onclick="scrollToItem('tab01', 'item14')">плоскопечатная УФ печать на материалах:</p>
            <p onclick="scrollToItem('tab01', 'item15')">печать на дизайнерских обоях</p>
            <p onclick="scrollToItem('tab01', 'item16')">постпечатные услуги, порезка, фрезеровка</p>
          </div>
        </div>
      </div>
      <div class="menu-sm-item mid">
        <div>
          <p class="menu-sm-item-title" onclick="expandChild(2)">Наружная реклама</p>
          <div class="menu-sm-item-text expandable-sm">
            <p onclick="scrollToItem('tab02', 'item20')">вывески, лайтбокс, фреймлайт</p>
            <p onclick="scrollToItem('tab02', 'item21')">объемные фасадные конструкции с подсветкой</p>
            <p onclick="scrollToItem('tab02', 'item22')">конструктивы с широкоформатной рекламой на фасадах</p>
            <p onclick="scrollToItem('tab02', 'item23')">оклейка витрин самоклеющей пленкой</p>
            <p onclick="scrollToItem('tab02', 'item24')">оклейка авто самоклеющей пленкой</p>
          </div>
        </div>
      </div>
      <div class="menu-sm-item mid">
        <div>
          <p class="menu-sm-item-title" onclick="expandChild(3)">Интерьерное оформление помещений</p>
          <div class="menu-sm-item-text expandable-sm">
            <p onclick="scrollToItem('tab03', 'item30')">брендинг</p>
            <p onclick="scrollToItem('tab03', 'item31')">оформление входной группы</p>
            <p onclick="scrollToItem('tab03', 'item32')">оформление навигационной системы</p>
            <p onclick="scrollToItem('tab03', 'item33')">дизайнерские обои с различными фактурами</p>
            <p onclick="scrollToItem('tab03', 'item34')">стеклянный, акриловый фартук для кухни</p>
            <p onclick="scrollToItem('tab03', 'item35')">светильники с led подсветкой</p>
            <p onclick="scrollToItem('tab03', 'item36')">оформление стеклянных перегородок</p>
            <p onclick="scrollToItem('tab03', 'item37')">оформление корпоративных мероприятий</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- DIV WITH STORY ABOUT COMPANY -->
<!-- ------------------------------------ -->
  <section class="story">
    <article class="story-item">
      <div class="story-item-content">
        <div class="story-item-image" style="background-image: url({% static 'images/logo_big.jpg' %}); background-size: 50%; background-repeat: no-repeat; background-color: #949599;">
          
        </div>
        <div class="story-item-info mid">
          <div>
            <h2 class="story-item-info-title">Our Story</h2>
            <p class="story-item-info-description">
                Еще вчера, а это чуть больше 10 лет назад ;),  мы знали все о широкоформатной полиграфии...  
                баннерные ткани, самоклейка, бумага... но сегодня мы уже команда единомышленников, которая  
                предлагает Вам, дорогие друзья, цифровую печать еще и на дизайнерских обоях и на 
                различных жестких материалах с прямой печатью ДСП, ПВХ, акрил, композит, зеркала и стекла...  
                Это могут быть как ваше личное фото, так и имиджи, которые для Вас будут ассоциировать 
                самые положительные и приятные воспоминания ) Но и на этом мы не остановились ;)  далее  
                это уже  декорирование нежилых помещений,  офисов, кафе, ресторанов и всего что Вам 
                захочется!  ну и как же без объемных световых конструкций для уличного и внутреннего применения ;) 
                Ждем Вас на чашечку ароматного кофе у нас в офисе или готовы приехать к Вам на встречу!  
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>
  
<!-- DIV WITH CONTENT THAT SHOULD BE TABS -->
<!-- ------------------------------------ -->
  <!-- TAB 0: 7 -->
  <section id="tab00" class="items animate-opacity">
    <!-- 0 -->
    <article id="item00" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Буклеты</h2>
            <p class="item-info-description">
              Многочисленные исследования по маркетингу показали, 
              что рекламный буклет – в лидерах по популярности, 
              а главное эффективности среди рекламных инструментов.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/brochure.jpg' %});">
                                      
        </div>
      </div>
    </article>
    <!-- 1 -->
    <article id="item01" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Каталоги</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 2 -->
    <article id="item02" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Фирменные папки</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
    <!-- 3 -->
    <article id="item03" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Альбомы с дизайнерскими обложками</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 4 -->
    <article id="item04" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Визитки</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
    <!-- 5 -->
    <article id="item05" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Открытки</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 6 -->
    <article id="item06" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Пригласительные</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
  </section>

  <!-- TAB 1: 7 -->
  <section id="tab01" class="items animate-opacity" style="display: none;">
    <!-- 0 -->
    <article id="item10" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Самоклеющая пленка</h2>
            <p class="item-info-description">
              Многочисленные исследования по маркетингу показали, 
              что рекламный буклет – в лидерах по популярности, 
              а главное эффективности среди рекламных инструментов.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/brochure.jpg' %});">
                                      
        </div>
      </div>
    </article>
    <!-- 1 -->
    <article id="item11" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Баннер, баннерная сетка</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 2 -->
    <article id="item12" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Бумага Blueback, Backlit</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
    <!-- 3 -->
    <article id="item13" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Холст</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 4 -->
    <article id="item14" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Плоскопечатная УФ печать на материалах</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
    <!-- 5 -->
    <article id="item15" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Печать на дизайнерских обоях</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 6 -->
    <article id="item16" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Постпечатные услуги, порезка, фрезеровка</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
  </section>

  <!-- TAB 2: 5 -->
  <section id="tab02" class="items animate-opacity" style="display: none;">
    <!-- 0 -->
    <article id="item20" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Вывески, лайтбокс, фреймлайт</h2>
            <p class="item-info-description">
              Многочисленные исследования по маркетингу показали, 
              что рекламный буклет – в лидерах по популярности, 
              а главное эффективности среди рекламных инструментов.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/brochure.jpg' %});">
                                      
        </div>
      </div>
    </article>
    <!-- 1 -->
    <article id="item21" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Объемные фасадные конструкции с подсветкой</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 2 -->
    <article id="item22" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Конструктивы с широкоформатной рекламой на фасадах</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
    <!-- 3 -->
    <article id="item23" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Оклейка витрин самоклеющей пленкой</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 4 -->
    <article id="item24" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Оклейка авто самоклеющей пленкой</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
  </section>

  <!-- TAB 3: 8 -->
  <section id="tab03" class="items animate-opacity" style="display: none;">
    <!-- 0 -->
    <article id="item30" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Брендинг</h2>
            <p class="item-info-description">
              Многочисленные исследования по маркетингу показали, 
              что рекламный буклет – в лидерах по популярности, 
              а главное эффективности среди рекламных инструментов.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/brochure.jpg' %});">
                                      
        </div>
      </div>
    </article>
    <!-- 1 -->
    <article id="item31" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Оформление входной группы</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 2 -->
    <article id="item32" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Оформление навигационной системы</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
    <!-- 3 -->
    <article id="item33" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Дизайнерские обои с различными фактурами</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 4 -->
    <article id="item34" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Стеклянный, акриловый фартук для кухни</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
    <!-- 5 -->
    <article id="item35" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Светильники с led подсветкой</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
    <!-- 6 -->
    <article id="item36" class="item">
      <div class="item-content">
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Оформление стеклянных перегородок</h2>
            <p class="item-info-description">
              Печать папок с корпоративной символикой, например, логотипом – 
              это создание и постоянное поддерживание имиджа компании на рынке услуг.
            </p>
          </div>
        </div>
        <div class="item-image" style="background-image: url({% static 'images/folder.jpg' %});">
          
        </div>
      </div>
    </article>
    <!-- 7 -->
    <article id="item37" class="item">
      <div class="item-content">
        <div class="item-image" style="background-image: url({% static 'images/catalogue.jpg' %});">
          
        </div>
        <div class="item-info mid">
          <div>
            <h2 class="item-info-title">Оформление корпоративных мероприятий</h2>
            <p class="item-info-description">
              Каталог можно считать идеальным решением для компаний, 
              ассортимент товаров и услуг которых постоянно пополняется. 
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>

<!-- FOOTER WITH ADDRESS AND SOCIAL MEDIA LINKS -->
<!-- ------------------------------------------ -->
  <footer>
    <div class="footer-row">
      <div class="footer-col mid">
        <div id="address">
          <p>Киев, Украина</p>
          <p>yulianka.kart@gmail.com</p>
        </div>
      </div>
      <div class="footer-col mid">
        <div id="footer-social">
          <a href="https://www.facebook.com/yulianna.kart/" target="_blank" style="background-image: url({% static 'images/fb_logo.png' %})"></a>
          <a href="https://www.instagram.com/kart.adv.production/" target="_blank" style="background-image: url({% static 'images/ig_logo.png' %})"></a>
        </div>
      </div>
    </div>
    <div class="footer-legalinfo">
      <div>
        <p>© 2018 K-art</p>
      </div>
      <div>
        <p>ALL RIGHTS RESERVED</p>
      </div>
    </div>
  </footer>
  <script src="{% static 'js/app.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      if(localStorage.getItem('redirected')) {
        var tab = localStorage.getItem('tab');
        var item = localStorage.getItem('item');
        scrollToItem(tab, item);
      }

      localStorage.clear();
    });
  </script>
</body>
</html>