<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
  <!-- <link rel="stylesheet" href="resources/css/w3.css"> -->
  <link rel="stylesheet" href="../static/css/my-index.css">
  <link rel="stylesheet" href="../static/css/menu.css">
</head>
<body>
  
  <nav>
    <div id="menu">
      <div class="menu-item mid">
        <div>
          <p class="menu-item-title" onclick="openCity('tab00')">цифровая и офсетная полиграфия</p>
          <div class="menu-item-text expandable">
            <p onclick="openCity('tab00', 'item00')">kek</p>
            <p onclick="openCity('tab00', 'item01')">kek</p>
            <p onclick="openCity('tab00', 'item02')">kek</p>
          </div>
        </div>
      </div>
      <div class="menu-item mid">
        <div>
          <p class="menu-item-title" onclick="openCity('tab01')">широкоформатная и УФ печать</p>
          <div class="menu-item-text expandable">
            <p onclick="openCity('tab01', 'item10')">kek</p>
            <p onclick="openCity('tab01', 'item11')">kek</p>
            <p onclick="openCity('tab01', 'item12')">kek</p>
          </div>
        </div>
      </div>
      <div class="menu-item mid">
        <div>
          <p class="menu-item-title" onclick="openCity('tab02')">наружная реклама</p>
          <div class="menu-item-text expandable">
            <p onclick="openCity('tab02', 'item20')">kek</p>
            <p onclick="openCity('tab02', 'item21')">kek</p>
            <p onclick="openCity('tab02', 'item22')">kek</p>
          </div>
        </div>
      </div>
      <div class="menu-item mid">
        <div>
          <p class="menu-item-title" onclick="openCity('tab03')">интерьерное оформление помещений</p>
          <div class="menu-item-text expandable">
            <p onclick="openCity('tab03', 'item30')">kek</p>
            <p onclick="openCity('tab03', 'item31')">kek</p>
            <p onclick="openCity('tab03', 'item32')">kek</p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section id="tab00" class="items animate-opacity" style="margin-top: 100px; height: 500px; display: block;">
    <article id="item00" style="height: 500px; background-color: #555;">
      lol
    </article>
    <article id="item01" style="height: 500px; background-color: #777;">
      kek
    </article>
    <article id="item02" style="height: 500px; background-color: #999;">
      cheb
    </article>
  </section>

  <section id="tab01" class="items animate-opacity" style="margin-top: 100px; height: 500px; display: none;">
    <article id="item10" style="height: 500px; background-color: #555;">
      lol1
    </article>
    <article id="item11" style="height: 500px; background-color: #777;">
      kek1
    </article>
    <article id="item12" style="height: 500px; background-color: #999;">
      cheb1
    </article>
  </section>

  <section id="tab02" class="items animate-opacity" style="margin-top: 100px; height: 500px; display: none;">
    <article id="item20" style="height: 500px; background-color: #555;">
      lol2
    </article>
    <article id="item21" style="height: 500px; background-color: #777;">
      kek2
    </article>
    <article id="item22" style="height: 500px; background-color: #999;">
      cheb2
    </article>
  </section>

  <section id="tab03" class="items animate-opacity" style="margin-top: 100px; height: 500px; display: none;">
    <article id="item30" style="height: 500px; background-color: #555;">
      lol3
    </article>
    <article id="item31" style="height: 500px; background-color: #777;">
      kek3
    </article>
    <article id="item32" style="height: 500px; background-color: #999;">
      cheb3
    </article>
  </section>

  <script>
    function openCity(tab, item) {
      var i;
      var x = document.getElementsByClassName("items");
      for (i = 0; i < x.length; i++) {
          x[i].style.display = "none"; 
      }
      document.getElementById(tab).style.display = "block";
      
      var rect = document.getElementById(item).getBoundingClientRect();
      debugger;
      window.scrollBy({
        top: rect.top - 100,
        behavior: "smooth"
      });
    }
  </script>
</body>
</html>