<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- НЕ ЗАБЫТЬ УДАЛИТЬ!!! -->
  <meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
  <title>K-art - обратная связь</title>
  <link rel="shortcut icon" href="{% static 'images/logo_big.jpg' %}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/my-index.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
  <link rel="stylesheet" href="{% static 'css/menu-sm.css' %}">
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  
<!-- HEADER - WITH FACEBOOK, INSTAGRAM, ABOUT COMPANY AND CONTACTS -->
<!-- ------------------------------------------------------------- -->
  <header>
    <div id="social">
      <a href="https://www.facebook.com/yulianna.kart/" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/kart.adv.production/" target="_blank">Instagram</a>
    </div>

    <div class="header-logo">
      <a href="{% url 'home' %}">K&ndash;art</a>
    </div>

    <div id="about">
      <a href="{% url 'post-list' %}">Новости</a>
      <a href="{% url 'feedback' %}">Контакты</a>
    </div>
  </header>

<!-- NAVIGATION WITH EXPANDABLE TABS AND ANIMATION ON HOVER -->
<!-- ------------------------------------------------------ -->
  <nav>
    <div class="menu-item">
      <div class="menu-item-title-div mid">
        <div>
          <p class="menu-item-title">Цифровая и офсетная полиграфия</p>
        </div>
      </div>
      <div class="menu-item-text expandable">
        <p onclick="openScrollToItem('tab00', 'item00')">буклеты</p>
        <p onclick="openScrollToItem('tab00', 'item01')">каталоги</p>
        <p onclick="openScrollToItem('tab00', 'item02')">фирменные папки</p>
        <p onclick="openScrollToItem('tab00', 'item03')">альбомы с дизайнерскими обложками</p>
        <p onclick="openScrollToItem('tab00', 'item04')">визитки</p>
        <p onclick="openScrollToItem('tab00', 'item05')">открытки</p>
        <p onclick="openScrollToItem('tab00', 'item06')">пригласительные</p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-item-title-div mid">
        <div>
          <p class="menu-item-title">Широкоформатная и УФ печать</p>
        </div>
      </div>
      <div class="menu-item-text expandable">
        <p onclick="openScrollToItem('tab01', 'item10')">самоклеющая пленка</p>
        <p onclick="openScrollToItem('tab01', 'item11')">баннер, баннерная сетка</p>
        <p onclick="openScrollToItem('tab01', 'item12')">бумага Blueback, Backlit</p>
        <p onclick="openScrollToItem('tab01', 'item13')">холст</p>
        <p onclick="openScrollToItem('tab01', 'item14')">плоскопечатная УФ печать на материалах:</p>
        <p onclick="openScrollToItem('tab01', 'item15')">печать на дизайнерских обоях</p>
        <p onclick="openScrollToItem('tab01', 'item16')">постпечатные услуги, порезка, фрезеровка</p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-item-title-div mid">
        <div>
          <p class="menu-item-title">Наружная реклама</p>
        </div>
      </div>
      <div class="menu-item-text expandable">
        <p onclick="openScrollToItem('tab02', 'item20')">вывески, лайтбокс, фреймлайт</p>
        <p onclick="openScrollToItem('tab02', 'item21')">объемные фасадные конструкции с подсветкой</p>
        <p onclick="openScrollToItem('tab02', 'item22')">конструктивы с широкоформатной рекламой на фасадах</p>
        <p onclick="openScrollToItem('tab02', 'item23')">оклейка витрин самоклеющей пленкой</p>
        <p onclick="openScrollToItem('tab02', 'item24')">оклейка авто самоклеющей пленкой</p>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-item-title-div mid">
        <div>
          <p class="menu-item-title">Интерьерное оформление помещений</p>
        </div>
      </div>
      <div class="menu-item-text expandable">
        <p onclick="openScrollToItem('tab03', 'item30')">брендинг</p>
        <p onclick="openScrollToItem('tab03', 'item31')">оформление входной группы</p>
        <p onclick="openScrollToItem('tab03', 'item32')">оформление навигационной системы</p>
        <p onclick="openScrollToItem('tab03', 'item33')">дизайнерские обои с различными фактурами</p>
        <p onclick="openScrollToItem('tab03', 'item34')">стеклянный, акриловый фартук для кухни</p>
        <p onclick="openScrollToItem('tab03', 'item35')">светильники с led подсветкой</p>
        <p onclick="openScrollToItem('tab03', 'item36')">оформление стеклянных перегородок</p>
        <p onclick="openScrollToItem('tab03', 'item37')">оформление корпоративных мероприятий</p>
      </div>
    </div>
  </nav>

<!-- NAVIGATION FOR SMALL DEVICES WITH EXPANDABLE TABS AND ANIMATION ON HOVER -->
<!-- ------------------------------------------------------------------------ -->
  <div class="menu-sm">
    <div class="menu-sm-header" onclick="toggleMenu()">
      <img class="menu-sm-arrow" src="{% static 'images/arrow_white.png' %}" alt="">
      <h4>Наши услуги</h4>
    </div>
    <div class="menu-sm-body expandable-sm">
      <div class="menu-sm-item mid">
        <div>
          <p class="menu-sm-item-title" onclick="expandChild(0)">Цифровая и офсетная полиграфия</p>
          <div class="menu-sm-item-text expandable-sm">
            <p onclick="openScrollToItem('tab00', 'item00')">буклеты</p>
            <p onclick="openScrollToItem('tab00', 'item01')">каталоги</p>
            <p onclick="openScrollToItem('tab00', 'item02')">фирменные папки</p>
            <p onclick="openScrollToItem('tab00', 'item03')">альбомы с дизайнерскими обложками</p>
            <p onclick="openScrollToItem('tab00', 'item04')">визитки</p>
            <p onclick="openScrollToItem('tab00', 'item05')">открытки</p>
            <p onclick="openScrollToItem('tab00', 'item06')">пригласительные</p>
          </div>
        </div>
      </div>
      <div class="menu-sm-item mid">
        <div>
          <p class="menu-sm-item-title" onclick="expandChild(1)">Широкоформатная и УФ печать</p>
          <div class="menu-sm-item-text expandable-sm">
            <p onclick="openScrollToItem('tab01', 'item10')">самоклеющая пленка</p>
            <p onclick="openScrollToItem('tab01', 'item11')">баннер, баннерная сетка</p>
            <p onclick="openScrollToItem('tab01', 'item12')">бумага Blueback, Backlit</p>
            <p onclick="openScrollToItem('tab01', 'item13')">холст</p>
            <p onclick="openScrollToItem('tab01', 'item14')">плоскопечатная УФ печать на материалах:</p>
            <p onclick="openScrollToItem('tab01', 'item15')">печать на дизайнерских обоях</p>
            <p onclick="openScrollToItem('tab01', 'item16')">постпечатные услуги, порезка, фрезеровка</p>
          </div>
        </div>
      </div>
      <div class="menu-sm-item mid">
        <div>
          <p class="menu-sm-item-title" onclick="expandChild(2)">Наружная реклама</p>
          <div class="menu-sm-item-text expandable-sm">
            <p onclick="openScrollToItem('tab02', 'item20')">вывески, лайтбокс, фреймлайт</p>
            <p onclick="openScrollToItem('tab02', 'item21')">объемные фасадные конструкции с подсветкой</p>
            <p onclick="openScrollToItem('tab02', 'item22')">конструктивы с широкоформатной рекламой на фасадах</p>
            <p onclick="openScrollToItem('tab02', 'item23')">оклейка витрин самоклеющей пленкой</p>
            <p onclick="openScrollToItem('tab02', 'item24')">оклейка авто самоклеющей пленкой</p>
          </div>
        </div>
      </div>
      <div class="menu-sm-item mid">
        <div>
          <p class="menu-sm-item-title" onclick="expandChild(3)">Интерьерное оформление помещений</p>
          <div class="menu-sm-item-text expandable-sm">
            <p onclick="openScrollToItem('tab03', 'item30')">брендинг</p>
            <p onclick="openScrollToItem('tab03', 'item31')">оформление входной группы</p>
            <p onclick="openScrollToItem('tab03', 'item32')">оформление навигационной системы</p>
            <p onclick="openScrollToItem('tab03', 'item33')">дизайнерские обои с различными фактурами</p>
            <p onclick="openScrollToItem('tab03', 'item34')">стеклянный, акриловый фартук для кухни</p>
            <p onclick="openScrollToItem('tab03', 'item35')">светильники с led подсветкой</p>
            <p onclick="openScrollToItem('tab03', 'item36')">оформление стеклянных перегородок</p>
            <p onclick="openScrollToItem('tab03', 'item37')">оформление корпоративных мероприятий</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="about">
    <div class="about-content">
      <div class="contacts mid">
        <div>
          <h3 class="contact">Контакты</h3>
          <p class="contact">K-art</p>
          <p class="contact">Kyiv, Ukraine</p>
          <a class="contact" href="mailto:k@art.com">k@art.com</a>
          <a class="contact" href="tel:+380441231212">+38(044)123-12-12</a>
        </div>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325515.68165192875!2d30.252503877561143!3d50.40213675047685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1536270053527" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </section>

<!-- FEEDBACK FORM - FORM TO SEND FEEDBACK -->
<!-- ------------------------------------- -->
  <section class="feedback-form">
    <h2>Обратная связь</h2>
    <form action="{% url 'feedback-create' %}" method="post">
    {% csrf_token %}
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" placeholder="k@art.com">

      <label for="aname">Имя</label>
      <input type="text" id="aname" name="name" placeholder="Ваше имя..">

      <label for="phone">Номер телефона</label>
      <input type="text" name="phone" id="phone" placeholder="+38(044)123-12-12">
      
      <label for="category">Категория</label>
      <select id="category" name="category">
        <option value="None">--==--</option>
          {% for category in categories %}
        <option value="{{ category.id }}">{{ category.title }}</option>
          {% endfor %}
      </select>

      <label for="comm">Комментарий</label>
      <textarea id="comm" name="content" cols="40" rows="5" placeholder="Ваш комментарий.."></textarea>

      <div class="g-recaptcha" data-sitekey="6LfIzW4UAAAAAPhDpFToxynwso44HvUyYVTsmQsd"></div>

      <input type="submit" value="Отправить сообщение">
    </form>
  </section>

<!-- FOOTER WITH ADDRESS AND SOCIAL MEDIA LINKS -->
<!-- ------------------------------------------ -->
  <footer>
    <div class="footer-row">
      <div class="footer-col mid">
        <div id="address">
          <p>Киев, Украина</p>
          <p>yulianka.kart@gmail.com</p>
        </div>
      </div>
      <div class="footer-col mid">
        <div id="footer-social">
          <a href="https://www.facebook.com/yulianna.kart/" target="_blank" style="background-image: url(../../static/images/fb_logo.png)"></a>
          <a href="https://www.instagram.com/kart.adv.production/" target="_blank" style="background-image: url(../../static/images/ig_logo.png)"></a>
        </div>
      </div>
    </div>
    <div class="footer-legalinfo">
      <div>
        <p>© 2018 K-art</p>
      </div>
      <div>
        <p>ALL RIGHTS RESERVED</p>
      </div>
    </div>
  </footer>
  <script src="../../static/js/app.js"></script>
</body>
</html>